*{
    /* border: 1px solid red; */
}

.main-div {
    width: 100%;
    min-height: 100vh;
    background: #635985d8;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

}

.alltodo-title{
    color: #ffffff;
}

.todo-items-div {
    color: #ffffff;
    border: none;
    border-radius: 10px;
    width: 40%;
    background: #393053da;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: row;
    margin: 1rem 0 1rem 0;
    box-shadow: rgba(0, 0, 0, 0.395) 0px 30px 90px;
    padding: 20px;
}


.todo-content-div{
    height: auto;
    width: 90%;
    overflow-wrap: break-word; 
    word-break: break-all;
    text-align: center;
}

.name-time-div{
    font-size: 15px;
    display: flex;
    align-items: center;
    margin: 0 0 1rem 0
}

.name-time-div h4{
    height: 100%;
    margin: 0 1rem 0 0;
}

.name-time-div p{
    font-size: 12px;
    margin-bottom: 0;
}

.todo-content-div h6{
    display: flex;
    justify-content: flex-start;

}

.todo-items-btn-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px;
}

.popup-main-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.model-btn-div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}


.main-form-div {
    width: 40vw;
    padding: 20px;
}

.main-form-group-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-element {
    margin-bottom: 2rem;
}

.btn-allTodo {
    background: #18122be0;
    padding: .5rem 1rem .5rem 1rem;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.btn-allTodo:hover {
    color: #18122B;
    background: #ffffff;
    transition: 0.3s;
}

.btn-allTodo:active {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.delelte-btn {
    border: none;
    background-color: transparent;
    font-size: 20px;
    margin: 4px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}

.update-btn{
    margin: 4px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}

.update-btn:hover{
    background-color: #ffffff;
    color: #393053da;
}

.delelte-btn:hover{
    background-color: #ffffff;
    color: #393053da;
}
.update-btn:active{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.delelte-btn{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/* Scroll bar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #635985;
    background-color: #635985 ;
}

::-webkit-scrollbar-thumb {
    background: #18122bcc;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #18122B;
}
